:root {
    /* primary-colors */
    --p-red: hsl(0, 100%, 67%);
    --p-orange: hsl(39, 100%, 56%);
    --p-green: hsl(166, 100%, 37%);
    --p-cobalt: hsl(234, 85%, 45%);

    /*gradients-colors*/
    --roxoclaro: hsl(252, 100%, 67%);
    --blue: hsl(241, 81%, 54%);

    --roxoescuro: hsla(256, 72%, 46%, 1);
    --g-persianb: hsla(241, 72%, 46%, 0);

    /* Neutral */

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

